<%= render partial: 'races/race_info' %>
<div class="container">
  <div class="comment-index-page-title">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container comment-input-area">
      <%= form_for @comment, url: { action: 'create' } do |f| %>
        <div class="form-group comment-header-area">
          <%= f.text_field :user_name, class: 'form-control', placeholder: 'ニックネームを入力' %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <%= f.submit '投稿する', class: 'btn btn-primary mb-2' %>
      <% end %>
    </div>
    <h2>
      ウインエアフォルクの
      <% if @comment_type == 'positive' %>
        買い
      <% else %>
        不安
      <% end %>
      コメント一覧
    </h2>
    <div class="comtainer">
      <%= render partial: 'comment', collection: @comments %>
    </div>
  </div>
</div>
