<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <%= @race.name %>
    </div>
    <div class="card-body race-description">
      <p class="card-text"><%= race_schedule(@race) %></p>
      <p class="card-text"><%= race_condition(@race) %></p>
      <p class="card-text">賞金 : <%= race_prizes(@race) %></p>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">枠番</th>
        <th scope="col">馬番</th>
        <th scope="col">馬名</th>
      </tr>
    </thead>
    <tbody>
      <% @horse_races.each do |horse_race| %>
        <tr class="horse_race">
          <td><%= horse_race.gate_number %></td>
          <td><%= horse_race.horse_number %></td>
          <td><%= link_to horse_race.horse.name, horse_race.horse %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
