<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <%= @race.race_name %>
    </div>
    <div class="card-body race-description">
      <p class="card-text"><%= race_description_row1(@race) %></p>
      <p class="card-text"><%= race_description_row2(@race) %></p>
      <p class="card-text">賞金 : <%= race_description_row3(@race) %></p>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">枠番</th>
        <th scope="col">馬番</th>
        <th scope="col">馬名</th>
      </tr>
    </thead>
    <tbody>
      <% @race_hoses.each do |raceHose| %>
        <tr>
          <td><%= raceHose.gate_num %></td>
          <td><%= raceHose.hose_num %></td>
          <td><%= link_to raceHose.hose.name, raceHose.hose %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>