<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <%= @race.race_name %>
    </div>
    <div class="card-body race-description">
      <p class="card-text"><%= race_schedule(@race) %></p>
      <p class="card-text"><%= race_condition(@race) %></p>
      <p class="card-text">賞金 : <%= race_prizes(@race) %></p>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">枠番</th>
        <th scope="col">馬番</th>
        <th scope="col">馬名</th>
      </tr>
    </thead>
    <tbody>
      <% @race_horses.each do |race_horse| %>
        <tr>
          <td><%= race_horse.gate_num %></td>
          <td><%= race_horse.horse_number %></td>
          <td><%= link_to race_horse.horse.name, race_horse.horse %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>