<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <%= @horse.name %>
        </div>
        <div class="scatter">
            <%= scatter_chart @graph_points, xtitle: 'RPCI', ytitle: 'ave1F',
             legend: false, min: 10, max: 14 %>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">レース</th>
                <th scope="col">枠番</th>
                <th scope="col">馬番</th>
                <th scope="col">オッズ</th>
                <th scope="col">人気</th>
                <th scope="col">順位</th>
                <th scope="col">騎手</th>
                <th scope="col">斤量</th>
                <th scope="col">タイム</th>
                <th scope="col">着差</th>
                <th scope="col">通過順</th>
                <th scope="col">後半3F</th>
                <th scope="col">馬体重</th>
                <th scope="col">増減</th>
                <th scope="col">賞金</th>
            </tr>
        </thead>
        <tbody>
            <% @horse.horse_race_results.each do |result| %>
                <tr>
                    <td><%= result.race_result.name %></td>
                    <td><%= result.gate_num %></td>
                    <td><%= result.horse_number %></td>
                    <td><%= result.odds %></td>
                    <td><%= result.popularity %></td>
                    <td><%= result.rank %></td>
                    <td><%= result.jockey %></td>
                    <td><%= result.burden_weight %></td>
                    <td><%= result.time %></td>
                    <td><%= result.time_diff %></td>
                    <td><%= result.passing_order %></td>
                    <td><%= result.last_3f %></td>
                    <td><%= result.horse_weight %></td>
                    <td><%= result.difference_in_horse_weight %></td>
                    <td><%= result.get_prize %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>