<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <%= @horse.name %>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" 
                   id="horses-show-scatter-tab"
                   data-toggle="tab"
                   href="#horses-show-scatter"
                   role="tab" 
                   aria-controls="horses-show-scatter"
                   aria-selected="true">
                   分布図
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="horses-show-stats-tab"
                   data-toggle="tab"
                   href="#horses-show-stats"
                   role="tab"
                   aria-controls="horses-show-stats"
                   aria-selected="false">
                   統計情報
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active"
                 id="horses-show-scatter"
                 role="tabpanel"
                 aria-labelledby="horses-show-scatter-tab">
                <%= scatter_chart @graph_points,
                    xtitle: 'RPCI',
                    ytitle: 'ave1F',
                    legend: false,
                    min: 10,
                    max: 14 %>
            </div>
            <div class="tab-pane fade"
                 id="horses-show-stats"
                 role="tabpanel"
                 aria-labelledby="horses-show-stats-tab">
                 <%= render partial: 'horses/show/stats' %>
            </div>
        </div>
        <div class="scatter">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">日程</th>
                <th scope="col">レース</th>
                <th scope="col">枠番</th>
                <th scope="col">馬番</th>
                <th scope="col">オッズ</th>
                <th scope="col">人気</th>
                <th scope="col">順位</th>
                <th scope="col">騎手</th>
                <th scope="col">斤量</th>
                <th scope="col">タイム</th>
                <th scope="col">着差</th>
                <th scope="col">通過順</th>
                <th scope="col">後半3F</th>
                <th scope="col">馬体重</th>
                <th scope="col">増減</th>
                <th scope="col">賞金</th>
            </tr>
        </thead>
        <tbody>
            <% @horse_races.each do |result| %>
                <tr class="horse_race">
                    <td><%= result.race.start.to_s :date %></td>
                    <td><%= result.race.name %></td>
                    <td><%= result.gate_number %></td>
                    <td><%= result.horse_number %></td>
                    <td><%= result.odds %></td>
                    <td><%= result.popularity %></td>
                    <td><%= result.order_of_arrival %></td>
                    <td><%= result.jockey %></td>
                    <td><%= result.burden_weight %></td>
                    <td><%= result.time.try { |time| time.to_s(:min_second_millisecond) } %></td>
                    <td><%= result.time_diff %></td>
                    <td><%= result.passing_order %></td>
                    <td><%= result.last_3f %></td>
                    <td><%= result.horse_weight %></td>
                    <td><%= result.difference_in_horse_weight %></td>
                    <td><%= result.get_prize %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>