<%= render partial: 'races/race_info' %>
<div class="container">
  <div class="comment-index-page-title">
    <h2>
      ウインエアフォルクの
      <% if @position == 'positive' %>
        買い
      <% else %>
        不安
      <% end %>
      コメント一覧
    </h2>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <div class="container comment-input-">
      <%= form_for @comment, url: { action: 'create' } do |f| %>
        <div class="form-group comment-header-area">
          <%= f.text_field :user_name, class: 'form-control', placeholder: 'ニックネームを入力' %>
        </div>
        <div class="form-group comment-header-area">
          <%= f.select :horse_id, [['ウインエアフォルク', 0], ['アーモンドアイ', 1], ['ゴールドシップ', 2]], {}, { class: 'custom-select' } %>
        </div>
        <div class="form-group comment-header-area">
          <%= f.select :position, [['買い', 0], ['不安', 1]], {}, { class: 'custom-select' } %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <%= f.submit '投稿する', class: 'btn btn-primary mb-2' %>
      <% end %>
    </div>
  </div>
</div>
